gunicorn==20.1.0
Flask==3.0.3
numpy==1.24.4
opencv-python-headless==4.10.0.84
torch==2.0.1+cpu
torchvision==0.15.2+cpu
requests==2.32.3
Werkzeug==3.0.4
Pillow==10.4.0

-f https://download.pytorch.org/whl/torch_stable.html