<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>写真が上手くなる - フードフォト</title>
    <meta
      name="description"
      content="写真がどんどんうまくなる！AIによる映えフード写真アドバイス提供のサービス、それが『フードフォト』"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon.png') }}"
    />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <header id="header">
      <h1 class="site-title">
        <a href="/">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="フードフォト"
            class="logo-img-header"
          />
        </a>
      </h1>
      <nav>
        <ul>
          <li><a href="#about">このサイトについて</a></li>
          <li><a href="#Upload">アップロード</a></li>
          <li><a href="#works">作品</a></li>
          <li>
            <a
              href="https://www.instagram.com/geeeeeeeeeeeekf00d/"
              target="_blank"
            >
              <img
                class="icon"
                src="{{ url_for('static', filename='img/icon-instagram.png') }}"
                alt="インスタグラム"
              />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- メインビジュアル -->
      <div id="mainvisual">
        <picture>
          <img
            src="{{ url_for('static', filename='img/mainvisual-pc.png') }}"
            alt="メインビジュアル画像"
          />
        </picture>
      </div>

      <!-- このサイトについて -->
      <section id="about" class="wrapper">
        <h2 class="sec-title"><br />このサイトについて</h2>

        <!-- ロゴを挿入 -->
        <div class="about-logo">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="フードフォト"
            class="logo-img"
          />
        </div>

        <ul>
          <li>写真がどんどんうまくなるサイト、『フードフォト』へようこそ！</li>
          <li>
            このサイトでは、アップロードした写真に対してAIからアドバイスがもらえます。
          </li>
          <li>
            そのアドバイスを基にして、どんどんいい写真を撮れるようになろう！
          </li>
        </ul>
      </section>

      <!-- アップロードセクション -->
      <section id="Upload" class="wrapper">
        <h2 class="sec-title">アップロード</h2>
        <!-- フォームの追加 -->
        <form id="uploadForm">
          <!-- 画像をクリックするとファイル選択画面が表示される -->
          <label for="imageInput" id="uploadLabel">
            <img
              src="{{ url_for('static', filename='img/upload_area.png') }}"
              alt="画像をクリックしてアップロード"
              id="clickableImage"
            />
          </label>

          <!-- 非表示のファイル入力 -->
          <input
            type="file"
            id="imageInput"
            name="image"
            accept="image/*"
            style="display: none"
            required
          />

          <!-- アップロードボタン -->
          <button type="submit" id="uploadButton">判定！</button>
        </form>

        <!-- アップロードされた画像を表示 -->
        <div id="uploadedImage"></div>

        <!-- 処理結果画像を表示 -->
        <div id="resultImage"></div>

        <!-- 結果メッセージを表示 -->
        <div id="resultMessage"></div>
      </section>

      <!-- 作品セクション -->
      <section id="works" class="wrapper">
        <div class="works-container">
          <h2 class="sec-title">作品</h2>
          <ul>
            <li>
              <img
                src="{{ url_for('static', filename='img/works1.jpg') }}"
                alt="テキストテキストテキスト"
              />
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='img/works2.jpg') }}"
                alt="テキストテキストテキスト"
              />
            </li>
            <li>
              <img
                src="{{ url_for('static', filename='img/works3.jpg') }}"
                alt="テキストテキストテキスト"
              />
            </li>
            <!-- 他の作品画像も同様に追加 -->
          </ul>
        </div>
      </section>
    </main>

    <footer id="footer">
      <p>&copy; 2024 フードフォト</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
